@import 'tailwindcss';

@theme {
  --font-sans: 'JetBrainsMono Nerd Font', monospace;
}

html,
body {
  @apply bg-neutral-900 text-neutral-50;
  color-scheme: dark;
}

.gutter-stable {
  scrollbar-gutter: stable;
}